# Compiled binaries
out
main
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary built by 'go test -c'
*.test

# Output of the go coverage tool
*.out

# Environment variables & local secrets
.env
*.env.local

# Operating System files
.DS_Store
Thumbs.db

# IDE & Editor artifacts
.idea/
*.swp
*.swo
*~
