# Compiled binaries and build outputs
out/
out
tsuyoshi-first-http-server
main
chirpy
*.exe
*.exe~
*.dll
*.so
*.dylib
build/
bin/

# Test binary built by 'go test -c'
*.test

# Output of the go coverage tool
*.out

# Environment variables & local secrets
.env
*.env.local

# Operating System files
.DS_Store
Thumbs.db

# IDE & Editor artifacts
.idea/
*.swp
*.swo
*~

# Others
*.txt